{% extends base.html %}
{% block container %}
<div class="container text-center"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->
    <form class="form-signin">
        <h1 class="mt-5 mb-3">Bienvenid@</h1>
        <h3 class="font-weight-normal mb-3">Inicia sesión para acceder</h3>
        <p class="mb-2">Ingresa con tu RUT y contraseña</p>
        <label for="inputUser" class="sr-only">RUT</label>
        <input type="email" id="inputUser" class="form-control" placeholder="RUT" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary-custom px-5 mt-3" type="submit">Ingresar</button>
        <p class="mt-4 text-muted small">¿No has recibido tu contraseña?<br>¡Contacta a tu profesor/administrador!</p>
    </form>
</div>
{% endblock container %}